body {
  background-color: #EAEDED !important;
  position: absolute;
  min-height: 100vh;
  width: 100% !important;
  text-align: center;
}

#logoutM {
  padding-top: 100px;
}

.carousel-inner {
  background-color: #ffffff !important;
}

.carousel-inner img {
  margin: auto !important;
  width: 500px !important;
  height: 300px !important;
  float: left !important;
}

.carousel-inner h3,
.carousel-inner p {
  width: 95% !important;
  padding-top: 25px !important;
}

.carousel-item {
  text-align: center !important;
  padding-left: 100px !important;
}

.features {
  padding-top: 50px !important;
}

html {
  scroll-behavior: smooth;
}

.item {
  float: center !important;
}

#footer {
  position: absolute !important;
  background-color: #ffffff !important;
  bottom: 0;
  width: 100% !important;
  z-index: 0;
}

#footer p,
#footer a {
  padding: 0px;
  margin: 0px !important;
}

#main {
  padding-top: 100px !important;
  width: 100% !important;
  margin: 0 auto;
  text-align: center !important;
  display: inline-block !important;
}

#carousel {
  width: 90% !important;
  display: inline-block !important;
}

#logo {
  width: 50% !important;
  height: auto !important;
}

#result {
  padding-bottom: 150px !important;
  z-index: 0;
}

#info {
  padding: 50px !important;
}

.col-md-6 {
  text-align: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-indicators {
  filter: invert(100%) !important;
}

.navbar {
  padding: 0px;
  width: 100%;
  position: fixed !important;
  z-index: 9999;
  background-color: #156AA6 !important;
}