body {
  background-color: #EAEDED !important;
  position: absolute;
  width: 100% !important;
}
.navbar {
  padding: 0px;
  width: 100%;
  position: fixed !important;
  z-index: 9999;
  background-color: #156AA6 !important;
}

.card {
	background-color: #EAEDED !important
}

h1 {
	padding: 40px;
}

div.dropdown {
	padding-left: 15px
}

#tags {
	background-color: #707270;
}

div.col-md-2 {
	padding: 10px;
	padding-top: 10px;
	max-height: 300px;
	text-align:center;
}

div.col-md-5 {
	padding: 10px;
	padding-top: 10px;
	text-align: center;
	max-height: 300px;
}
div.col-md-5.info {

	text-align: left;
	max-height: 300px;
}

.fixed {
	position: fixed;
	top: 0;
	width: 100%;
}

div h2 {
	font-size: 21px;
	height: 50px;
}

img {
	width: 100%;
	object-fit: contain;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

#header {
	height: 40px;
}

.delete {
	color:red !important; 
	font-size:1.15rem;
	height:38px !important;
	width:100% !important;
}

div.col-md-12 {
	text-align: right;
	padding-right: 0px;
}

#bar {
	max-height: 46px;
	height: 46px;
}

#cartItems {
	width: 90%;
	margin-left:85px !important;
	margin-right:0px !important;
	min-height: 87vh !important;
}

img.cartItem {
	width: 210px;
	/* You can set the dimensions to whatever you want */
	height: 210px;
	object-fit: contain;
}

.item {
	background-color: #ffffff;
}

.itemTitle {
	margin-top: 50px;
}

.btn {
	vertical-align: bottom;
}

#footer {
  position: absolute !important;
  background-color: #ffffff !important;
  bottom: 0;
  width: 100% !important;
  z-index: 0;
}


#footer p,
#footer a {
	padding: 0px;
	margin: 0px !important;
}

.checkout {
	margin-bottom: 20px;
}
.columnDetails{
	text-align:center;
}
.dollar{
	font-size:1.1rem;
}
h6{
	font-size:14px;
}
#total{
	font-size:20px;
}
#dollarTotal{
	font-size:1.35rem;
}
#checkoutSubmit{
	font-size:14px;
	width:100%;
	height:40px;
}
#myModal,
#pieModal,
#logoutM {
  padding-top: 100px;
}
#main {
  width: 150vh !important;
  min-height: 50vh !important;
  margin: auto!important;
  z-index: 0 !important;
  background-color: #ffffff !important;
  padding-bottom: 70px !important;
}
svg{
  display: inline-block;
  vertical-align: text-center;
  fill: red !important;
  margin-bottom:5px;
}
#yourOrder{
	margin-bottom:7px !important;
}