body {
	background-color: #EAEDED !important;
    position: absolute;
    width: 100vw;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
    color: #212529;
    font-weight: 400 !important;
}
.navbar {
    padding: 0px;
    width: 100%;
    position: fixed !important;
    z-index: 9999;
    background-color: #156AA6 !important;
    max-height:46px;
}
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}
.columnBilling{
	padding:10px;
	padding-left:20px;
}
.columnDetails{
	padding:10px;
	padding-left:20px;
}
.row{
	width:100%;
}
h2{
	margin-top:20px;
	font-size:1.5em;
}
p {
	margin-bottom:0px;
}
.contactInfo{
	height:54px;
}
#addressStreet{
	margin-top:3px;
}
#checkout{
	float:right;
	width:250px;
	height:40px;
	margin-right:15px;
    background-color: #f0c14b !important;
	color:black;
	border: 1px solid transparent;
	border-style:solid;
	border-color:#f0c14b;
	border-width:.5px;
	font-size:1.15em;
	font: 400 15.3333px Arial;
    border-radius: .3rem;
}
.detailLeft{
	float:left;
}
.detailRight{
	float:right;
}
input{
    border: 1px solid #ced4da;
	border-radius: .25rem;
}
#footer {
	background-color: #ffffff;
}
#footer p,
#footer a {
	padding: 0px;
	margin: 0px !important;
}
#yourOrder{
	margin-bottom:43px;
}
.bfh-countries{
	width:100%;
	border-radius: 4px;
	border: 1px solid #ced4da;
	height: calc(1.5em + .75rem + 2px)
}
.dollar{
	font-size:0.8rem;
}
#total{
	font-size:1.25rem;
	color:#B12704!important
}
#myModal,
#pieModal,
#logoutM {
  padding-top: 100px;
}
#main {
  width: 150vh !important;
  min-height: 50vh !important;
  margin: auto!important;
  z-index: 0 !important;
  background-color: #ffffff !important;
  padding-bottom: 70px !important;
}