body {
  background-color: #EAEDED !important;
  position: absolute;
  width: 100% !important;
}

img {
  width: 100% !important;
  height: auto !important;
}

html {
  scroll-behavior: smooth;
}

h1 {
  padding: 40px;
}

#productList {
  min-height: 100vh !important;
}

#tags {
  background-color: #6c757d;
  border-color: #6c757d;
}

#filtering {
  padding-top: 70px;
}

.modal {
  padding-top: 100px;
}


.add {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.add:hover {
  background-color: #28a745 !important;
}

#footer {
  position: absolute !important;
  background-color: #ffffff !important;
  width: 100% !important;
}

#footer p,
#footer a {
  padding: 0px;
  margin: 0px !important;
}

#pagination {
  width: 100% !important;
}

#create {
  padding-left: 50px !important;
}

#createBTN {
  background-color: #999900 ;
  border-color: #999900 ;
}

#adminTools {
  padding-right: 20px;
  padding-bottom: 60px;
  padding-left: 0px;
}

#adminTools .dropdown-toggle {
  background-color: #999900 ;
  border-color: #999900 ;
}

.col-md-6 {
  padding-bottom: 20px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.card {
  background-color: #EAEDED !important
}

div.dropdown {
  padding-left: 15px
}

.input-group {
  max-width: 50%
}

.input-group-prepend {
  max-height: 38px
}

#basic-addon2 {
  background-color: #007bff !important;
  color: #EAEDED;
}

div.col-md-2 {
  text-align: center;
  padding: 30px;
  padding-top: 70px;
}

.navbar {
  padding: 0px;
  width: 100%;
  position: fixed !important;
  z-index: 9999;
  background-color: #156AA6 !important;
}

.item {
  width: 100% !important;
  background-color: #ffffff !important
}