<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" type="text/css" href="index.css">
  <link rel="icon" type="image/ico" href="../images/image_v3_MHH_icon.ico">
  <title>Product List</title>
</head>
<!---<cfoutput>#items#</cfoutput>--->

<body>
  <script>
    var addon;
    if (sessionStorage.getItem('role') == 3 && sessionStorage.getItem('userID') != null && sessionStorage.getItem(
        'sessionID') != null) addon = 'productListAdmin.js';
    else addon = 'productList.js';
    $('<script />', {
      type: 'text/javascript',
      src: addon
    }).appendTo('head');
  </script>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add To Cart</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Item Successfully added to Cart
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="logoutM" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel40" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel40">Logout</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Successfully Logged out of User
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="location.reload()">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel2">Confirm delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this item?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="delete" data-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="publish" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel3">Confirm Publish</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to Publish this item?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="publishBTN" data-dismiss="modal">Publish</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="unpublish" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel4">Confirm Unpublish</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to Unpublish this item?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="unpublishBTN" data-dismiss="modal">Unpublish</button>
        </div>
      </div>
    </div>
  </div>

  <div class="menu">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container" id="navbar">
        <a class="navbar-brand" href="../home">
          <img src="https://i.gyazo.com/c29162661e819a80f550c3c2897db908.png" alt="Home">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="../home">Home
              </a>
            </li>
            <li class="nav-item  active">
              <a class="nav-link" href="#">Products
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../cart/cart.cfm">Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../myaccount">My Account</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <script>
    if (sessionStorage.getItem('role') == 3) {
      $('a').filter(function (index) {
        return $(this).text() === "Cart";
      }).attr('href', '../sales');
      $('a').filter(function (index) {
        return $(this).text() === "Cart";
      }).text('Sales Trends');
    }
    if (sessionStorage.getItem('role') != null) {
      $('.navbar-nav').append('<li class="nav-item"><a class="nav-link" href="#" id="logout">Logout</a></li>');
    }
  </script>
  <div class="container">
    <div class="container" id="filtering">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
      <div class="container">
        <br />
        <div class="row justify-content-center" id="row1">
          <div class="input-group mb-3">
            <input id="filter" type="text" class="form-control" placeholder="Filter Results..." aria-label="Filtering"
              aria-describedby="basic-addon2">

          </div>

          <div class="dropdown">
            <!--Dropdown Meny -->
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
              id="tags">Keywords</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Medical</a>
              <a class="dropdown-item" href="#">HIV</a>
              <a class="dropdown-item" href="#">Clinic</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Reset Items</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="productList"></div>
    <!--Populates List with items from Products Table -->
    <script>
      createList();
    </script>
  </div>
  <!-- Pagination -->
  <div class="row justify-content-end" id="pagination">
    <div class="col-sm-3">
      <ul class="pagination justify-content-center">

        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>

      </ul>
    </div>
  </div>
  </div>
  <!-- Footer -->
  <footer class="page-footer font-small blue" id="footer">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <p id="date">
        Date
      </p>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
</body>
<script>
  var today = new Date();
  var date = today.getFullYear();
  var dateTime = date;
  $("#date").html(dateTime + '<a href="https://www.rde.org/"> RDE Systems LLC</a>');
</script>

</html>