<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" type="text/css" href="index.css">
  <script src="createEdit.js"></script>
  <link rel="icon" type="image/ico" href="../images/image_v3_MHH_icon.ico">
  <title>Edit Product</title>
</head>
<!---<cfoutput>#items#</cfoutput>--->

<body>
  <script>
    //var cur = sessionStorage.getItem('currentItem') == null;
    //var role = sessionStorage.getItem('role') != 3;
    //debugger;
    if (sessionStorage.getItem('currentItem') == null || sessionStorage.getItem('role') != 3) window.location.replace('../products');
  </script>
    <div class="modal fade" id="logoutM" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel4">Logout</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="location.reload()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Successfully Logged out of User
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"  onclick="location='../home/index.cfm'">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Item Saved</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Item Successfully Saved
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="location='../products/index.cfm'">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="menu">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container" id="navbar">
        <a class="navbar-brand" href="../home">
          <img src="https://i.gyazo.com/c29162661e819a80f550c3c2897db908.png" alt="Home">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="../home">Home
              </a>
            </li>
            <li class="nav-item  active">
              <a class="nav-link" href="../products">Products
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../cart/cart.cfm">Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../myaccount">My Account</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <script>
    if(sessionStorage.getItem('role') == 3){
      $('a').filter(function(index) { return $(this).text() === "Cart";}).attr('href','../sales');
      $('a').filter(function(index) { return $(this).text() === "Cart";}).text('Sales Trends');
    }
    if(sessionStorage.getItem('role') != null){
      $('.navbar-nav').append('<li class="nav-item"><a class="nav-link" href="#" id="logout">Logout</a></li>');
    }
  </script>
  <div class="container" id="main">
  </div>
  <script>
    populatePage();
  </script>
  
  <footer class="page-footer font-small blue" id="footer">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <p id="date">
        Date
        </p>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
</body>
<script>
  var today = new Date();
  var date = today.getFullYear();
  var dateTime = date;
  $("#date").html(dateTime + '<a href="https://www.rde.org/"> RDE Systems LLC</a>');
</script>
