body {
  background-color: #EAEDED !important;
  position: absolute;
  min-height: 100vh;
  width: 100% !important;
}


html {
  scroll-behavior: smooth;
}

.modal {
  padding-top: 100px;
}

#footer {
  position: absolute !important;
  background-color: #ffffff !important;
  bottom: 0;
  width: 100% !important;
  z-index: 0;
}

#footer p,
#footer a {
  padding: 0px;
  margin: 0px !important;
}

#main {
  padding-top: 25px !important;
  height: auto !important;
}


.navbar {
  padding: 0px;
  width: 100%;
  position: fixed !important;
  z-index: 9999;
  background-color: #156AA6 !important;
}

h1 {
  padding: 40px;
}

aside {
  float: left;
  padding: 20px 20px 20px 20px;
}

section {
  float: left;
  padding: 20px 0px 20px 20px;
  width: 62%;
}

section s1 {
  float: left;
  width: 100%;
}

section s2 {
  float: right;
  width: 40%;
}

label {
  float: center;
}

input i1 {
  float: right;
}

.center {
  margin: auto;
  width: 40%;
  padding: 10px;
}

.center2 {
  margin: auto;
  width: 100%;
  padding: 20px 20px 20px 20px;
}

.center3 {
  margin: auto;
  width: 95%;
  padding: 20px 20px 20px 20px;
}

.img-circle {
  border-radius: 50%;
}

.checked {
  color: orange;
}